html, body{
    height: 100%;
    margin: 0 auto;
}
.topBar {
    display: inline-flex;
    width: 100%;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
    height: 45px;
    justify-content: space-between;
    padding-top: 5px;
}
.parallax{
    background-image: url("https://images.unsplash.com/photo-1438174025556-e65b76da121a?dpr=1&auto=format&fit=crop&w=1500&h=2000&q=80&cs=tinysrgb&crop=");

    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax1{
    background-color: whitesmoke;
    height: 300px;
}
.parallax2{
    background-image: url("https://images.unsplash.com/photo-1439736637365-748f240b24fb?dpr=1&amp;auto=format&amp;fit=crop&amp;w=1500&amp;h=1000&amp;q=80&amp;cs=tinysrgb&amp;crop=");

    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}